@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@300&display=swap");

body {
  background-color: #fdecef;
}

.Parent {
  display: grid;
  justify-content: center;
}

h4 {
  color: #747572;
  font-family: "Lato", sans-serif;
}
p {
  font-family: "Roboto Mono", monospace;
}
label {
  font-family: "Lato", sans-serif;
  color: salmon;
}
input {
  margin: 2px 0px 2px 5px;
}
button {
  margin-right: 10px;
  display: inline-block;
  border-radius: 10px;
  border-style: none;
  background-color: #b098a4;
  color: #632b30;
}
.inputSubmit {
  border-radius: 10px;
  border-style: none;
  background-color: #b098a4;
  color: #632b30;
}
.showImpButton {
  max-width: 70px;
  margin: 5px auto;
}
.showImpButton:hover,
.inputSubmit:hover,
button:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.Form {
  margin: auto;
}
